[Unit]
Description=Run ubigate as a Daemon
After=syslog.target network.target

[Service]
# Type=forking
# GuessMainPID=yes
ExecStart=/bin/bash -c 'ubigate -s https://tib.ubismart.org -L debug -l debug --no-verify-ssl'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
