#ubigate service
[Unit]
Description=Run ubigate as a Daemon
After=syslog.target network.target

[Service]
ExecStart=/bin/bash -c {{ ubigate }} {{ ubiserver }} {{ debug }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
